# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

ENV="dev"
ADMIN_EMAILS=["johndoe@example.com"]

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

JWT_PRIVATE_KEY= jwt/private.pem
JWT_PUBLIC_KEY= jwt/public.pem

RESEND_EMAIL_API_KEY=
RESEND_EMAIL="onboarding@resend.dev"
BASE_URL="http://localhost:3000/api"